*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to bottom,rgba(179,153,255,0.891),pink);
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
}
.container{
height: 30em;
width: 30em;
background-color: rgba(94, 5, 238, 0.39);
border-radius: 25px;
box-shadow: 5px 5px 15px rgba(0, 0, 0,0.685);
padding: 2em;
color: whitesmoke;
}
.container h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    color: whitesmoke;
    font-size: 2.5em;
    margin-bottom: 0.7em;
}
.container h3{
    font-family: sans-serif;
    font-weight: lighter;
    color: whitesmoke;
}
.container form{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.container form input[type="radio"]{
    display: none
}
.container form input[type="submit"]{
    background-color: rgb(137, 43, 226);
    color: whitesmoke;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: 0.2s ease-in;
}
.container form input[type="submit"]:hover{
    background-color: rgb(105, 19, 185);
}
.container form .option{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}
.container form label{
border: 1px solid rgba(179,153,255,0.891);
padding: 0.5em;
font-family: sans-serif;
cursor: pointer;
transition: 0.2s ease-out;
}
.container form label:hover{
    background-color: rgba(163, 89, 231, 0.452);
}
.container form input[type="radio"]:checked + label {
background-color: rgb(124, 23, 218);
color: rgb(245, 225, 225);
}
.container form input:checked + label.correct{
    background-color: green;
}
.container form input:checked + label.incorrect{
    background-color: red;
}